<div class="panel panel-primary">
    <div class="panel-heading">
        {{title}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                Filter By:
            </div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="filterData"/>
            </div>
            
        </div>
        {{filterData}}
        <div class="row">
            <div class="col-md-6">
                <h3>Number of Product Found: {{ (products | myproductFilter:filterData)?.length}}</h3>
            </div>
        </div> 
        {{showImage}}                       
        <div class="table-response" *ngIf="products && products.length">
        <table class="table">
                    <thead>
                    <tr>
                        <th>
                            <button type="button" 
                                    class="btn btn-success" 
                                    (click)="toggleImage()">
                                {{showImage ? "Hide Image": "Show Image"}}
                            </button>
                        </th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Date</th>
                        <th>Price</th>
                        <th>Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products | myproductFilter:filterData">
                        <td>
                            <img [src]="product.imageUrl"
                                 [style.width.px]="imageWidth"
                                 class="img-fluid"   *ngIf="showImage"/>
                        </td>
                        <td>
                            <a [routerLink]="['/products', product.productId]">
                                {{product.productName | myCase : "upper"}}
                            </a>
                        </td>
                        <td style="color:aqua">{{product.productCode | myCase : "lower"}}</td>
                        <td>{{product.releaseDate}}</td>
                        <td [ngStyle]="{'background-color':product.price<20? 'green':'red' }">{{product.price | discount | currency :'GBP'}}</td>
                        <td><app-star [rating]="product.starRating"
                            (ratingClicked)="onDataRecive($event)"></app-star></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!----[queryParams]="{name:product.productName, desc:product.description, img:product.imageUrl}"-->