<div class="panel panel-primary">
    <div class="panel-heading">
        {{title}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                Filter By:
            </div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="filterData"/>
            </div>
            
        </div>
        {{filterData}}
        <div class="row">
            <div class="col-md-6">
                <h3>Number od Product Found:</h3>
            </div>
        </div> 
        {{showImage}} 
        <!--<div *ngFor="let product of products | myproductFilter:filterData">
        <div class="media">
            <div class="media-body">
              <h4 class="media-heading">{{product.productName}}</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="media-right">
              <img [src]="product.imageUrl" class="media-object" style="width:60px">
            </div>
          </div> 
        </div>   -->                         
        <div class="table-response" *ngIf="products && products.length">
        <table class="table">
                    <thead>
                    <tr>
                        <th>
                            <button type="button" 
                                    class="btn btn-success" 
                                    (click)="toggleImage()">
                                {{showImage ? "Hide Image": "Show Image"}}
                            </button>
                        </th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Date</th>
                        <th>Price</th>
                        <th>Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products | myproductFilter:filterData">
                        <td>
                            <img [src]="product.imageUrl"
                                 class="img-fluid"   *ngIf="showImage"/>
                        </td>
                        <td>{{product.productName | myCase : "upper"}}</td>
                        <td>{{product.productCode | myCase : "lower"}}</td>
                        <td>{{product.releaseDate}}</td>
                        <td>{{product.price | discount | currency :'GBP'}}</td>
                        <td><app-star></app-star></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>