<div class="panel panel-primary">
  <div class="panel-heading">
    Template Form
  </div>
  <div class="panel-body">
    <form #form='ngForm' novalidate (submit)="submitForm(form)"> 
        <div class="form-group" [class.has-error]="firstname.invalid">
            <label   class="control-label"for="firstName">FirstName</label>
            <input type="text" 
                  class="form-control" 
                  id="firstName"
                  placeholder="FirstName"
                  name="firstName"
                  [ngModel]="model.firstName"
                  required
                  (ngModelChange)="firstToUpper($event)"
                  #firstname="ngModel"/>

            <div class="alert alert-danger" *ngIf="firstname.invalid">
              FirstName is required
            </div>      
                <h3>{{firstname.invalid}}</h3>
                 <!-- <h3>{{firstname.className}}</h3>-->
        </div>
        <div class="form-group">
            <label for="lastName">LastName</label>
            <input type="text" 
                  class="form-control" 
                  id="lastName"
                  placeholder="LasttName"
                  name="lastName"
                  [(ngModel)]="model.lastName"/>
        </div>
        <div class="form-group" [class.has-error]="email.invalid && email.touched">
            <label  class="control-label" for="email">Email</label>
            <input type="text" 
                  class="form-control" 
                  id="email"
                  placeholder="email"
                  name="email"
                  pattern="^([a-zA-Z0-9]+)@([a-zA-Z0-9]+)\.([a-zA-Z]{2,5})$"
                  #email="ngModel"
                  [(ngModel)]="model.email"/>
            <div class="alert alert-danger" *ngIf="email.invalid && email.touched">
                    Enter Valid Email 
             </div>
        </div>
        <div class="form-group" [class.has-error]="password.invalid">
            <label   class="control-label" for="password">Password</label>
            <input type="password" 
                  class="form-control" 
                  id="password"
                  placeholder="password"
                  name="password"
                  minlength="5"
                  [(ngModel)]="model.password"
                  #password="ngModel"/>
            <div class="alert alert-danger" *ngIf="password.invalid">
                     Password should min length of 5
            </div>
        </div>

        <div class="radio">
          <label>
            <input type="radio"
                   name="gender"
                   value="female"
                   [(ngModel)]="model.gender"/>
                Female
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio"
                   name="gender"
                   value="male"
                   [(ngModel)]="model.gender"/>
                Male
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
                    name="fullTime"
                    [(ngModel)]="model.fullTime"/>
              FullTime
          </label>
        </div>
        <div class="form-group" [class.has-error]="hasCodelangError">
          <label class="control-label"
                  for="codelang">
                  CodeLang
          </label>
          <select class="form-control"
                  name="codelang"
                  id="codelang"
                  (blur)="validateCodeLang($event)"
                  [(ngModel)]="model.codelang">
              <option value="default">Select Code Lang</option>
              <option *ngFor="let lang of langauages">
                    {{lang}}
              </option>
             
          </select>
          <div class="alert alert-danger" *ngIf="hasCodelangError">
              Select valid option
          </div>
        </div>
      
        <button type="submit"
                class="btn btn-success"
                [disabled]="disableSubmit">
                Submit
        </button>
    </form>
    
  </div>
</div>